body {
    background-color: lavender;
    font-family: 'Libre Caslon Text', serif;
}

.sectionHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 20px 0;
}

.topicHeading {
    margin-top: 35px;
}

/* NAVIGATION */

.navbar-brand img {
    width: 300px;
}

/* HUDDLE LOGO IMAGE */

.jumbotron {
    background-color: white !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.huddleLogo img {
    max-width: 100%;
    height: auto;
}

.huddleShowcase img {
    max-width: 80%;
    height: auto;
}


/* ACCORDION INFO */

.accordion-item .accordion-button {
    font-weight: bold;
}


/* RESEARCH */
.researchType {
  margin: 20px;
}


/* not working idk */
.rounded-circle-250 {
    width: 250px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.researchCards {
    margin: 10px;
}

/* COMPETITOR ANALYSIS */

.competitorAnalysis {
    margin: 20px;
}

.competitorAnalysisBody {
    margin: 10px;
}

.competitorAnalysisBody img {
    width: 250px;
    margin: 15px;
}

.holder {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.overview {
    margin: 20px 10px;
    font-size: 18px;
}

/* USER PERSONA */

.userPersona img  {
    height: auto;
    max-width: 75%;
}

.annaThompson {
    margin: 15px;
}
